<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
<meta name="viewport" content="width=device-width" />
    <title>Mohammed Almeshhal</title>
    <link rel="stylesheet" href="background.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
   
        <p class="name">Mohammed Almeshal</p>  
  
  
    <div class="fotter">   
      <a href=""><img src="5296514-48.png" alt=""></a>
    </div>

</div>

    <div class="stars"></div>
<div class="twinkling"></div>


<a target="_blank" href="https://icons8.com/icons/set/github">GitHub</a>, <a target="_blank" href="https://icons8.com/icons/set/twitter">Twitter</a> and other icons by <a target="_blank" href="https://icons8.com">Icons8</a>



</body>
</html>




