<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
<meta name="viewport" content="width=device-width" />
    <title>Mohammed Almeshhal</title>
    <link rel="stylesheet" href="background.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
   <div>
         <p >Mohammed Almeshal</p>  
   </div>
      
  
  
    <div class="fotter">   
      <a href=""><img src="icons/5296514-48.png" alt=""></a>
      <a href=""><img src="icons/298822-48.png" alt=""></a>
      <a href=""><img src="icons/322459-48.png" alt=""></a>
      <a href=""><img src="icons/4373722-48.png" alt=""></a>
      

    </div>

</div>

    <div class="stars"></div>
<div class="twinkling"></div>






</body>
</html>




